@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Roboto,Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
  line-height:1.6;
}

ul{
  list-style: none;
}
a{
  color: #333;
  text-decoration: none;
}

h1,h2{
  font-weight:300;
  line-height:1.2;
}
p{
  max-width: 10px 0;
}
img{
  width: 100%;
}

/* nvabar */

.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:#333;
  color:#fff;
  opacity: 0.8;
  width: 100%;
  height:70px;
  position:fixed;
  top: 0;
  padding: 0 30px;

}
.navbar a{
  color:#fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover{
 cursor: pointer;
   border-bottom: #28a745 2px solid;

}

.navbar ul {
  display: flex;
}

navbar .logo{
font-weight: 500px;
}


/* Header */

.hero{
  background: url('../img/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color:#fff;
}

.hero .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1{
  font-size:55px;
}
.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content:'';
  position: Absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
}
.hero * {
  z-index: 10;
}

/* Icons */
.icons{
  padding: 30px;
}
.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.icons i {
  background-color: #28a745;
  color: #fff;
  padding:1rem;
  border-radius:50%;
  margin-bottom:15px;
}


/* section header */

.cases img:hover {
   opacity:0.7;
}

.section-header{
  padding:30px;
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align:center;
}
.section-header h2{
  font-size:40px;
  padding:20px 0;
}
.section-padding {
  padding: 20px 20px 40px;
}

/* flex-grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.flex-grid .row .column {
  flex: 25%;
  width: 25%;
  padding: 0 4px;
}


/* Teams */

.teams img {
  border-radius :50%;

}

/* callback-form */

.callback-form {
  width : 100%;
  padding: 20px 0;
}

.callback-form label {
  display : block;
  padding-bottom: 20px;
}
.callback-form .form-control {
  margin-bottom: 20px;
}

.callback-form input {
  width: 100%;
  height: 40px;
  padding:4px;
  border: #f5f5f5 2px solid;
}
.callback-form .btn {
  padding-top: 12px 0;
}
.callback-form :focus {
  outline-color: #28a745;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}
